rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /reservations/{reservationId} {
      allow get: if true;
      allow list: if false;
      allow create, update, delete: if false;
    }

    match /meta/gauge {
      allow get: if true;
      allow list: if false;
      allow create, update, delete: if false;
    }
  }
}
